body {
    background: #fafafa;
    font-family: "Roboto", sans-serif;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #9c9c9c;
    top: 2px;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #00bcd4;
    background-color: #00bcd4;
    top: 2px;
}

[type="checkbox"].filled-in:checked + label:before {
    top: 2px;
}

div.material-table {
    padding: 0;
}

div.material-table table {
    table-layout: fixed;
    margin-bottom: 0;
}

div.material-table table tbody tr {
    cursor: pointer;
}

div.material-table table tr td {
    padding: 0 10px 0 56px;
    height: 48px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 0 #DDDDDD;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: normal;
}

div.material-table table tr td a {
    color: inherit;
}

div.material-table table tr td a i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}

div.material-table table tr {
    font-size: 12px;
}

div.material-table table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    white-space: nowrap;
    height: 56px;
    padding: 0 0 0 56px;
    vertical-align: middle;
    outline: none !important;
}

div.material-table table tbody tr:hover {
    background-color: #EEE;
}

div.material-table table th:first-child,
div.material-table table td:first-child {
    padding: 0 0 0 24px;
}

div.material-table table th:last-child,
div.material-table table td:last-child {
    padding: 0 14px 0 0;
}

td.dataTables_empty {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.34) !important;
}

.material-pagination {
    margin-bottom: 0;
}

.material-pagination li.disabled {
    opacity: 0.6;
}

.material-pagination li.disabled a {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.mg-page-header h2 {
    color: #504e4d;
    background-color: inherit;
}

.nav-tabs {
    background: inherit;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #4b4948 !important;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
    border-bottom: 3px solid #007cb0 !important;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-bottom: 3px solid #4b4948 !important;
}

.started-label {
    background-color: transparent !important;
    color: #4CAF50;
}

.inactive-label {
    color: rgba(0, 0, 0, 0.52);
}

.dataTables_filter {
    float: left;
    text-align: left;
    margin-top: 0 !important;
}

.searchBox > div {
    width: 100%;
}

.searchBox > div > label {
    background: url(images/search-white.png) no-repeat left 5px center transparent;
    width: 100%;
}

.searchBox > div > label > input::placeholder {
    font-size: 15px !important;
    margin-left: 40px !important;
}

.searchBox > div > label > input {
    width: 95% !important;
    margin-left: 24px !important;
    font-size: 15px !important;
    padding: 24px !important;
}

.no-padding {
    padding: 0 !important;
}

div.row {
    margin-right: 0;
    margin-left: 0;
}

.pagination > li > a, .pagination > li > span {
    border: 0 solid #ddd !important;
}

.lip {
    display: inline-flex;
    margin: 10px;
}

.lip > div {
    margin-left: 10px;
    margin-right: 10px;
}

.dataTables_length label select {
    display: inline !important;
}

.dataTables_length {
    margin-top: 0 !important;
}

.dataTables_paginate ul {
    list-style-type: none !important;
    display: inline-flex;
    margin-top: 5px;
}

h5.cardTitle {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.52);
    margin-top: 40px;
}

.card.moduleInfoCard {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}

div.infoItem {
    flex: 25%;
    margin: 4px;
}

div.infoItem > h6 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.84);
}

.chip:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.chip {
    cursor: pointer;
    background: rgb(224, 224, 224);
    color: rgb(66, 66, 66);
    border-radius: 16px;
    height: 32px;
    line-height: 33px;
    margin: 1px 8px 1px 8px;
    padding: 0 8px 0 8px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    display: inline-flex;
}

.no-ver-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#moduleFileUpload {
    display: none;
}

.togglebutton > label {
    font-size: 10pt;
}

.actions {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.actions i {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out;
    -ms-transition: background 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
}

.refreshModule button {
    padding: 10px;
}

.actions i.startModule:hover {
    background: #4CAF50;
}

.actions i.stopModule:hover {
    background: #FF5722;
}

.actions i.updateModule:hover {
    background: #90A4AE;
}

.actions i.unpublishModule:hover {
    background: #F44336;
}

.actions i.reinstallModule:hover {
    background: #607D8B;
}

.no-chip i.reinstallModule {
    color: #607D8B;
}

.no-chip i.infoWiring {
    color: #00A0E3;
}

.updateNotif {
    background: #607D8B;
    color: #fff;
}

.autoStartModule {
    margin: 20px 0 10px 10px;
}

.devOptions {
    padding: 16px;
}

.devOptions span {
    padding-right: 10px;
}

.cyan {
    background-color: #00bcd4 !important;
    color: #fff !important;
}

.selectModule {
    margin-bottom: 12px;
}

.searchBox input.form-control {
    background-image: none !important;
}

.disable-button {
    margin-bottom: 1px !important;
}

.pull-item-bottom {
    display: flex;
    align-items: flex-end;
}